## .NET
*.user
*.suo
.vs/
bin/
obj/
*.DotSettings.user
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

## Secrets & Config
appsettings.Production.json
appsettings.Staging.json
*.pfx
*.p12
.env
.env.*
secrets.json

## Docker

## OS
.DS_Store
Thumbs.db
desktop.ini

## Logs
*.log
logs/
